#!/usr/bin/make -f
# -*- makefile -*-

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/utils.mk

# Don't strip
DEB_DH_STRIP_ARGS := -Xusr

DEB_INSTALL_DOCS_rtems-gdbstub-doc := html

RV=4.9

# $1 is bsp name (ie mvme3100)
define bsprule

# This install prefix w/ arch
# This will be /usr/powerpc-rtems4.9/mvme3100 or similar
$1_bspbase=$(dir $(wildcard /usr/*-rtems$(RV)/$1/Makefile.inc))

build/rtems-gdbstub-$(1):: build-$(1)-stamp

build-$(1)-stamp:
	echo "build $$@"
	$(MAKE) ARCH=x-$(1) RTEMS_MAKEFILE_PATH=$$($1_bspbase)

	touch $$@

install/rtems-gdbstub-$(1)::
	echo "install $$@"
	install -d $(CURDIR)/debian/tmp$$($1_bspbase)/bin
	$(MAKE) ARCH=x-$(1) RTEMS_MAKEFILE_PATH=$$($1_bspbase) \
RTEMS_SITE_INSTALLDIR=$(CURDIR)/debian/tmp$$($1_bspbase) \
install

	install -d $(CURDIR)/debian/tmp$$($1_bspbase)/lib/include
	install -m 644 -t $(CURDIR)/debian/tmp$$($1_bspbase)/lib/include \
   rtems-gdb-stub.h rtems-gdb-stub-i386.h rtems-gdb-stub-m68k.h \
   rtems-gdb-stub-ppc-shared.h rtems-gdb-stubP.h

endef

$(foreach p,$(DEB_ARCH_PACKAGES),$(eval $(call bsprule,$(p:rtems-gdbstub-%=%))))

common-binary-fixup-arch::
	dh_rtems

clean::
	rm -f build-*
	rm -rf x-*

info:
	echo "$(DEB_ARCH_PACKAGES)"
