#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

RV=4.9

%:
	dh --with rtems $@

override_dh_auto_build:
	$(MAKE) ARCH=x-pc386 RTEMS_MAKEFILE_PATH=/usr/i386-rtems$(RV)/pc386 HCHECK=/dev/null
	$(MAKE) ARCH=x-mvme2100 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme2100 HCHECK=/dev/null
	$(MAKE) ARCH=x-mvme2307 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme2307 HCHECK=/dev/null
	$(MAKE) ARCH=x-mvme3100 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme3100 HCHECK=/dev/null
	$(MAKE) ARCH=x-mvme5500 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme5500 HCHECK=/dev/null

HEADERS=rtems-gdb-stub.h rtems-gdb-stub-i386.h rtems-gdb-stub-m68k.h \
        rtems-gdb-stub-ppc-shared.h rtems-gdb-stubP.h

override_dh_auto_test: # no-op

override_dh_auto_install:
	install -d debian/tmp/usr/i386-rtems$(RV)/pc386/bin
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme2100/bin
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme2307/bin
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme3100/bin
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme5500/bin

	install -d debian/tmp/usr/i386-rtems$(RV)/pc386/lib/include
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme2100/lib/include
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme2307/lib/include
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme3100/lib/include
	install -d debian/tmp/usr/powerpc-rtems$(RV)/mvme5500/lib/include

	$(MAKE) ARCH=x-pc386 RTEMS_MAKEFILE_PATH=/usr/i386-rtems$(RV)/pc386 HCHECK=/dev/null RTEMS_SITE_INSTALLDIR=/usr/i386-rtems$(RV)/pc386
	$(MAKE) ARCH=x-mvme2100 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme2100 HCHECK=/dev/null RTEMS_SITE_INSTALLDIR=/usr/powerpc-rtems$(RV)/mvme2100
	$(MAKE) ARCH=x-mvme2307 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme2307 HCHECK=/dev/null RTEMS_SITE_INSTALLDIR=/usr/powerpc-rtems$(RV)/mvme2307
	$(MAKE) ARCH=x-mvme3100 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme3100 HCHECK=/dev/null RTEMS_SITE_INSTALLDIR=/usr/powerpc-rtems$(RV)/mvme3100
	$(MAKE) ARCH=x-mvme5500 RTEMS_MAKEFILE_PATH=/usr/powerpc-rtems$(RV)/mvme5500 HCHECK=/dev/null RTEMS_SITE_INSTALLDIR=/usr/powerpc-rtems$(RV)/mvme5500

	install -m 644 x-pc386/*.obj debian/tmp/usr/i386-rtems$(RV)/pc386/bin/
	install -m 644 x-mvme2100/*.obj debian/tmp/usr/powerpc-rtems$(RV)/mvme2100/bin/
	install -m 644 x-mvme2307/*.obj debian/tmp/usr/powerpc-rtems$(RV)/mvme2307/bin/
	install -m 644 x-mvme3100/*.obj debian/tmp/usr/powerpc-rtems$(RV)/mvme3100/bin/
	install -m 644 x-mvme5500/*.obj debian/tmp/usr/powerpc-rtems$(RV)/mvme5500/bin/

	install -m 644 x-pc386/*.a debian/tmp/usr/i386-rtems$(RV)/pc386/lib/
	install -m 644 x-mvme2100/*.a debian/tmp/usr/powerpc-rtems$(RV)/mvme2100/lib/
	install -m 644 x-mvme2307/*.a debian/tmp/usr/powerpc-rtems$(RV)/mvme2307/lib/
	install -m 644 x-mvme3100/*.a debian/tmp/usr/powerpc-rtems$(RV)/mvme3100/lib/
	install -m 644 x-mvme5500/*.a debian/tmp/usr/powerpc-rtems$(RV)/mvme5500/lib/

	install -m 644 -t debian/tmp/usr/i386-rtems$(RV)/pc386/lib/include $(HEADERS)
	install -m 644 -t debian/tmp/usr/powerpc-rtems$(RV)/mvme2100/lib/include $(HEADERS)
	install -m 644 -t debian/tmp/usr/powerpc-rtems$(RV)/mvme2307/lib/include $(HEADERS)
	install -m 644 -t debian/tmp/usr/powerpc-rtems$(RV)/mvme3100/lib/include $(HEADERS)
	install -m 644 -t debian/tmp/usr/powerpc-rtems$(RV)/mvme5500/lib/include $(HEADERS)

override_dh_auto_clean:
	rm -rf x-*
